*{
    font-family: Inter;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #b89ef5;
    border-radius: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b86cb;
}